<template>
    <CCol 
        v-for="(apuesta, aInd) in getBetsFromEventArr(type)" 
        :key="aInd"
        class="col-12 estilo-logro-padre d-flex flex-column"
        v-bind:class="[
            aInd ? (type === 1 ? 'mt-2 mt-lg-0' : 'mt-3') : '',
            type === 1 ? ('col-lg-'+(12 / getBetsFromEventArr(0))+' border-0 inline-styles') : ''
        ]"
    >
        <div :class="'estilo-logro-titulo px-2 text-start border-bottom-0'+(type === 1 ? ' whole' : '')">{{apuesta.desBet}}</div>
        <div :class="'d-flex flex-column flex-md-row background-logro flex-grow-1'+(type === 1 ? ' not-top' : '')">
            <a 
                v-for="(logro, lInd) in apuesta.achievements"
                :key="lInd"
                class="logro-btn text-decoration-none text-black d-flex justify-content-center align-items-center" 
                href="javascript:void(0)" 
                @click="addBet(logro, evento.desEvent, apuesta.desBet)"
                v-bind:class="[
                    lInd ? 'cborder-logro' : '',
                    'col-md-' + (12 / apuesta.achievements.length)
                ]"
                v-bind:style="{
                    width: getOneLen(apuesta.achievements.length, lInd === apuesta.achievements.length - 1)
                }"
            >
                {{logro.desElement}} {{logro.achievementValue}}
            </a>
        </div>
    </CCol>
</template>

<script>
// METHODS 
function getBetsFromEventArr (type_) {
    const asLen = !type_ ? true : false, detailed = type_ === 2;
    return this.getBetsFromEvent(...(detailed ? [this.evento.lstAchievement] : [this.evento.lstAchievement, asLen, this.showAmount]))
}

function getOneLen (len, isLast = false) {
    let width_, calc_;
    if (isLast) {
        const divided = 100 / len;
        const minusOne = len - 1;
        const result = divided.toFixed(2) * minusOne;
        calc_ = 100 - result + 0.01;
        width_ = `${calc_}%`;
    }
    else {
        calc_ = 100 / len;
        width_ = `${calc_.toFixed(2)}%`;
    }
    
    return width_
}

/**
 * @param { {achievementValue: string; conditionAchievement: string; desElement: string; idAchievement: string; idBet: string; idElement: string; idEvent: string; officialRotation: string;}[] } achievements
 */
function getBetsFromEvent (achievements, asLen = false, max = 0) {
  const self = this;
  const betsAndAchievements = achievements.reduce((bets_, achievement) => ({
    ...bets_, 
    [achievement.idBet]: {
      ...(self.bets[achievement.idBet] || {}),
      achievements: [
        ...(bets_[achievement.idBet]?.achievements || []),
        achievement
      ],
    }
  }), {});

  const betsWithAchievements = Object.keys(betsAndAchievements).slice(...[0,...(max && [max] || [])]).map(betId => betsAndAchievements[betId]);

  return asLen ? betsWithAchievements.length : betsWithAchievements
}

export default {
    name: 'CCAchievementCards',
    props: ['evento', 'bets', 'showAmount', 'type', 'addBet'],
    methods: {
        getBetsFromEvent,
        getBetsFromEventArr,
        getOneLen,
    },
}
</script>

<style lang="scss" scoped>
@include mediaquery(lg) {
    .inline-styles {
      &.estilo-logro-padre {
        .estilo-logro-titulo {
          border-top-right-radius: 0;
        }
        .background-logro {
          border-bottom-right-radius: 0;
        }
        &:not(:first-child) {
          .estilo-logro-titulo,
          .background-logro {
            border-radius: 0;
          }
        }
        &:last-child .estilo-logro-titulo {
          border-top-right-radius: 8px;
        }
        &:last-child .background-logro {
          border-bottom-right-radius: 8px;
        }
      }
    }
}

.estilo-logro-padre{
  // border: solid 1px;
  padding: 0;
}

.estilo-logro-titulo{
  color: $dark-gray;
  font-weight: 600;
  @include borderGray(1px, $color: $middle-gray);
  @include sqrDist(8px, border-top-left-radius, border-top-right-radius);
  width: fit-content;

  @include mediaquery(lg) {
    &.whole {
      width: auto;
    }
  }
}

.background-logro{
    overflow: hidden;

    @include borderGray(1px, $color: $middle-gray);
    border-radius: 8px;
    border-top-left-radius: 0;
    
    @include mediaquery(lg) {
        &.not-top {
        border-top-right-radius: 0;
        }
    }
}

.logro-btn{
  cursor: pointer;
  padding: 10px;

  @include mediaquery(md, 'max') {
    width: 100% !important;
  }
}
.logro-btn:hover{
  background-color: $middle-gray;
  cursor: pointer;
  color: #fff !important;
  font-weight: bold;
}

.cborder-logro {
    @include mediaquery(md, 'max') {
        @include borderGray(1px, 'border-top', $middle-gray);
    }
    @include mediaquery(md) {
        @include borderGray(1px, 'border-left', $middle-gray);
    }
}
</style>