<template>
    <CRow v-bind:class="[rowClasses || '']">
        <CFormLabel 
            v-if="label"
            :for="v_.$path+'Input'" 
            class="col-form-label"
            v-bind:class="[
                col || !label ? 'col-12' : 'col-sm-6',
                labelClasses || ''
            ]"
        >{{label}}</CFormLabel>
        <div v-bind:class="[
            col || !label ? 'col-12' : 'col-sm-6',
            label && !col ? 'ps-md-0' : ''
        ]">
            <CFormInput 
                type="text" 
                :id="v_.$path+'Input'" 
                v-model="ccValue"
                :placeholder="placeholder"
                class="custom-input-class"
                :readonly="readonly"
            />
        </div>
        <template v-if="v_.$errors.length">
            <CFormText component="span" v-bind:class="[
                errorMessageClasses || '',
                col || !label ? 'text-start' : !errorMessageClasses ? 'text-start text-md-end' : ''
            ]">
                {{v_.$errors[0].$message}}
            </CFormText>
        </template>
    </CRow>
</template>

<script>
export default {
    name: 'CCInput',
    props: {
        modelValue: [String, Number, Boolean, Array, Object], 
        v_: Object, 
        label: String, 
        rowClasses: String, 
        labelClasses: String, 
        placeholder: String,
        errorMessageClasses: String,
        col: Boolean,
        readonly: Boolean,
    },
    emits: ['update:modelValue'],
    computed: {
        ccValue: {
            get() {
                return this.modelValue;
            },
            set(val) {
                this.$emit('update:modelValue', val)
            }
        }
    },
}
</script>

<style lang="scss" scoped>
.custom-input-class[readonly] {
    background-color: #fff;
}
</style>