<template>
    <!-- if component tag must change without accesing the view again, must this be wrapped by <keep-alive><component-tag.../></keep-alive> -->
    <template v-if="container(true)">
        <Component :is="container()[0]" v-bind:class="[container()[1]]">
            <slot />
        </Component>
    </template>
    <template v-else>
        <div v-bind:class="[cclass || '']">
            <Component :is="container()[0]" class="w-100" v-bind:class="[container()[1]]">
                <slot />
            </Component>
        </div>
    </template>
</template>

<script>
// METHODS
function container (isBinary = false) {
    if (isBinary) return Math.round(Math.random());
    const tagsArr_ = ['initial-wrapper','events-container','wrapper-eventos','events-list'];
    const max = ((tagsArr_.length * 3) - 1), min = 0;
    const pos = Math.round((Math.random() * (max - min))) + min;
    const tagsArr = (clss) => ['div','section','ul'].map(tag => `${tag}.${clss}${this.isFlex ? '-flex' : ''}`);
    const wrapper = tagsArr_.reduce((tags_, class_) => [...tags_, ...tagsArr(class_)], [])[pos];
    return wrapper.split('.')
}

export default {
    name: 'CCRndWrapper',
    props: {
        cclass: String,
        isFlex: Boolean,
    },
    methods: {
        container,
    }
}
</script>

<style lang="scss" scoped>
$clsses: 'initial-wrapper','events-container','wrapper-eventos','events-list';
@each $clss in $clsses {
    ul {
        &.#{$clss}, &.#{$clss}-flex {
            padding-left: 0;
        }
    }

    div,
    section,
    ul {
        &.#{$clss} {
            margin-bottom: 0 !important;
        }

        &.#{$clss}-flex {
            margin-bottom: 0 !important;
            display: flex;
            flex-wrap: wrap;
        }
    }
}
</style>