.form-control:focus {
    border-color: $dark-gray;
    box-shadow: 0 0 0 0.18rem $dark-gray-t;
}

.form-check {
    padding-left: 1.7rem !important;

    .form-check-input {
        &:checked {
            @include sqrDist($dark-gray, background-color, border-color);
        }

        &:focus {
            box-shadow: 0 0 0 0.18rem $dark-gray-t;
        }
    }
}

.vt-pagination {
    .pagination {
        justify-content: flex-end;
        
        .page-item {
            .page-link {
                color: $dark-gray;

                &:focus {
                    box-shadow: 0 0 0 0.18rem $dark-gray-t;
                }
            }

            &.active {
                .page-link {
                    @include sqrDist($dark-gray, background-color, border-color);
                    color: #fff
                }
            }
            &.disabled {
                .page-link {
                    color: $soft-gray;
                }
            }
        }
    }
}

.un-ms-1 {
    margin-left: -0.25rem;
}
.ln-h-1 {
    line-height: 1 !important;
}
.w-max-md-100 {
    @include mediaquery(md, 'max') {
        width: 100% !important;
    }
}

.btn-primario {
    @include customBtnConstr($dark-gray-t, $dark-gray, #fff);
}

.border-gray {
    @include borderGray(1px);
}