// Variable overrides
$color-primario: #303c54;
$soft-gray: #d8dbe0;
$softer-gray: #f9f9f9;
$softie-gray: #ebebeb;
$soft-gray-t: rgb(216, 219, 224, 0);
$soft-gray-f: rgb(216, 219, 224, 1);
$middle-gray: #c1c1c1;
$dark-gray: #3c4b64;
$dark-soft-gray: #7f8899;
$dark-gray-t: rgba(60, 75, 100, 0.25);

$header-height: 4rem;

$responsive: (
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1440,
  xxxl: 2000
);

// FUNCTIONS
@function iffer($condition, $if-value, $else-value) {
  @if $condition {
      @return $if-value;
  } @else {
      @return $else-value;
  }
}

@function sizer($map, $size) {
  $is-size: map-has-key($map, $size);
  $size-transformated: iffer($is-size, map-get($map, $size), $size);
  @return $size-transformated;
}

// MIXINS
@mixin mediaquery($size, $dir: 'min', $orientation: '', $other-size: 'sm') {
  $with-orientation: iffer($orientation == 'landscape' or $orientation == 'portrait', ' and (orientation: #{$orientation})', '');
  $limitter: iffer($dir == 'min', $dir, 'max');
  $size-transformed: sizer($responsive, $size);
  $current-size: iffer($dir == 'min', $size-transformed, ($size-transformed - 1));
  $other-size-transformed: sizer($responsive, $other-size) - 1;
  $with-other-size: iffer($other-size == 'sm', '', ' and (max-width: #{$other-size-transformed}px)');

  @media screen#{$with-orientation}#{$with-other-size} and (#{$limitter}-width: #{$current-size}px) {
    @content;
  }
}

@mixin sqrDist ($args...) {
    @for $i from 2 through length($args) {
        #{nth($args, $i)}: #{nth($args, 1)};
    }
}

@mixin borderGray ($npx: 3px, $property: 'border', $color: $soft-gray) {
    #{$property}: $npx solid $color;
}

@mixin gridDist ($area: null, $col: null, $grid: false) {
    @if $grid {
        display: grid;
    }
    @if $area {
        grid-area: #{$area};
    }
    @if $col {
        grid-template-columns: #{$col};
    }
}

@mixin sharedDist($pxl, $mrgn: false) {
    @if $mrgn {
        margin-right: #{$pxl}px;
    }
    @else {
        width: #{$pxl}px;
    }

    @include mediaquery(lg, 'max') {
        margin-inline: 0;
        width: 100%;
    }
}

@mixin customBtnConstr ($color-tr, $color, $color-text: null) {
    @if $color-text {
      color: $color-text !important;
    }
    @else {
      color: #000 !important;
    }
    font-weight: 600;
    background: $color !important;
  
    &:focus {
      @include sqrDist(0 0 0 0.18rem $color-tr !important, -o-box-shadow, -moz-box-shadow, -webkit-box-shadow, box-shadow);
    }
}