<template>
  <div>
    <CRow>
      <CCol :md="12">
        <CCard class="mb-4 border-0 main-card-container" v-if="eventsByLeague.length">
          <div class="estilo-titulo-deporte px-3 py-1 border-gray" v-if="league?.desSport && league?.desLeague">
              <span>{{league.desSport}} <span class="opacity-25">/</span> {{league.desLeague}}</span>
          </div>
          <CCardBody class="border-gray body-container">
            <CTabContent>
              <CTabPane role="tabpanel" aria-labelledby="home-tab" :visible="tabPaneActiveKey === 1">
                <CCRndWrapper>
                  <template v-for="(evento, eInd) of eventsByLeague" :key="eInd">
                    <hr v-if="eInd" class="custom-line-separator" />
                    <div class="row">
                      <div class="d-flex flex-wrap ocultar">
                        <div class="col-md-12 mb-1">
                          <div class="d-inline-block fw-bold"><span>{{evento.desEvent}}</span>&nbsp;</div>
                          <div class="d-inline-block">
                            <span>{{dateDepocher(evento.dateEvent)}}&nbsp;</span>
                            <span>{{dateTimeOfTheDay(evento.dateEvent)}}</span>
                          </div>
                        </div>
                        <div class="col-md-12 estilos-logros w-max-md-100">
                          <CCRndWrapper cclass="d-flex flex-wrap" :isFlex="true">
                            <CCAchievementCards :evento="evento" :bets="bets" :showAmount="2" :type="1" :addBet="addBet" />
                          </CCRndWrapper>
                        </div>
                      </div>
                      <div>
                        <button @click="handler(evento)" class='btn1 btn-togglr mt-2 border-0'>Mostrar más...</button>
                      </div>
                    </div>
                  </template>
                </CCRndWrapper>
              </CTabPane>
              <!-- LOGROS POR EVENTO -->
              <CTabPane role="tabpanel" aria-labelledby="profile-tab" :visible="tabPaneActiveKey === 2">
                <div class="row">
                  <div class="col-12">
                    <button @click="handler2" class='mb-2 btn-togglr border-0'>...Mostrar menos</button>
                  </div>
                  <div class="col-12 estilos-logros">
                    <CCRndWrapper cclass="d-flex flex-wrap" v-if="selectedEvent">
                      <CCAchievementCards :evento="selectedEvent" :bets="bets" :type="2" :addBet="addBet" />
                    </CCRndWrapper>
                  </div>
                </div>
              </CTabPane>
            </CTabContent>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import { inject } from "vue";
import { useBetStructure } from '@/store/betstructure';
import { storeToRefs } from 'pinia';
import { dateDepocher, dateTimeOfTheDay } from '@/_helpers/formatters';
import CCAchievementCards from '@/components/custom-components/CCAchievementCards.vue';
import CCRndWrapper from '@/components/custom-components/CCRndWrapper.vue';

function handler(evento){
  this.selectedEvent = {...evento};
  this.tabPaneActiveKey = 2;
}

function handler2(){
  this.tabPaneActiveKey = 1;
  this.selectedEvent = null;
}

// METHODS
function eventsSetter (nl = 0) { // parametro momentaneo para pruebas, quitar despues  
  this.name = nl ? `${Math.round(Math.random() * (nl - 1)) + 1}` : '1';
}

async function apiPrueba() {
  this.loading = true;
  let api = 'https://jsonplaceholder.typicode.com/todos/1';
  const self = this;
  
  const fetchRequest = async () => {
    try {
      const res = await fetch(api);
      return res;
    } catch (error) {
      console.error(error);
      self.loading = false;
      return false;
    }
  };

  const result = await fetchRequest();

  if (result) {
    this.loading = false;
    this.eventsSetter();
  }
}

function setConection () {
  const self = this;
  // const socketProtocol = (window.location.protocol === 'https:' ? 'wss:' : 'ws:')
  // const port = ':3000';
  // const echoSocketUrl = socketProtocol + '//172.16.40.80' + port + '/';

  // if (window.WebSocket) {
  //   this.socket = new WebSocket(echoSocketUrl);

  //   this.socket.onopen = () => {
  //     console.log('Websocket connected.');
  //     self.connectedWS = true;
  //     self.sendMessage(JSON.stringify({"message" : "app connected."}));
  //   };

  //   this.socket.onclose = () => {
  //     console.log('Websocket disconnected.');
  //     self.connectedWS = false;
  //   };

  //   this.socket.onmessage = (event) => {
  //     const message_ = event.data;
  //     const message = JSON.parse(message_);
  //     console.log(message);
  //     self.name = message.name;
  //   };

  //   this.socket.onerror = (error) => {
  //     self.sendMessage(JSON.stringify({"message" : "reconectando."}));
  //     console.error(error);
  //   }; 
  // } else 
  //   console.warn('Tu navegador no admite web sockets.');

  // WEB WORKER
  if (window.Worker) {
    this.worker = new Worker('siteWorker.js');

    this.worker.onmessage = function(e) {
      const message_ = e.data;
      const message = JSON.parse(message_);
      // console.log(message);
      self.connectedWS = true;
      self.eventsSetter(message.name.length); // parametro momentaneo para pruebas, quitar despues
    };

    this.worker.onerror = (error) => {
      console.error(error);
      self.connectedWS = false;
    };

    this.worker.postMessage({});
  } else 
    console.warn('Tu navegador no admite web workers.');
}

// WEB SOCKET
// function waitForOpenConnection () {
//   const self = this;
//   return new Promise((resolve, reject) => {
//       const maxNumberOfAttempts = 10;
//       const intervalTime = 200;

//       let currentAttempt = 0;
//       const interval = setInterval(() => {
//           if (currentAttempt > maxNumberOfAttempts - 1) {
//               clearInterval(interval);
//               self.connectedWS = false;
//               reject(new Error('Maximum number of attempts exceeded.'));
//           } else if (this.socket.readyState === this.socket.OPEN) {
//               clearInterval(interval);
//               resolve();
//           }
//           currentAttempt++;
//       }, intervalTime);
//   })
// }
// async function sendMessage (message) {
//   const self = this;
//   const sendM = () => {
//     self.connectedWS = true;
//     self.socket.send(message)
//   };

//   if (this.socket.readyState !== this.socket.OPEN) {
//       try {
//           await this.waitForOpenConnection(this.socket)
//           sendM();
//       } catch (err) { console.error(err) }
//   } else sendM();
// }
// 

function chosenChange (chosen) {
  // console.log('Elegido:', chosen);
  this.tabPaneActiveKey = 1;
  this.setLeague(chosen);
}

function addBet (achievement = null, ...desVarias) {
  if (this.league) this.emitter.emit('updateBets', {
    ...achievement,
    desSport: this.league.desSport,
    desEvent: desVarias[0],
    desBet: desVarias[1],
  });
}

// LIFECYCLE HOOKS
function setup () {
  const emitter = inject("emitter")
  const betStructureStore = useBetStructure()
  const { setLeague } = betStructureStore;
  const { eventsByLeague, league, bets } = storeToRefs(betStructureStore)

  return { 
    emitter,
    league,
    eventsByLeague,
    dateDepocher,
    dateTimeOfTheDay,
    bets,
    setLeague,
  }
}

async function mounted () {
  this.emitter.on('chosenChange', this.chosenChange);

  await this.apiPrueba();
  this.setConection();
}

function updated () {
  // WEB SOCKET
  // if (window.WebSocket) this.socket.close();
  // WEB WORKER
  if (window.Worker && this.worker) {
    this.worker.terminate();
    this.worker = undefined;
  }
  this.setConection();

  this.emitter.off('chosenChange', this.chosenChange);
  this.emitter.on('chosenChange', this.chosenChange);
}

function unmounted () {
  // WEB SOCKET
  // if (window.WebSocket) this.socket.close();
  // WEB WORKER
  if (window.Worker && this.worker) {
    this.worker.terminate();
    this.worker = undefined;
  }

  this.emitter.off('chosenChange', this.chosenChange);
}

// DATA
function data () {
  return {
    loading: false,
    socket: undefined,
    worker: undefined,
    connectedWS: false,
    name: '',
    datos:{},
    tabPaneActiveKey: 1,
    selectedEvent: null,
  }
}

export default {
  name: 'Dashboard',
  components: {
    CCAchievementCards,
    CCRndWrapper,
  },
  data,
  setup,
  mounted,
  updated,
  methods: {
    setConection,
    // WEB SOCKET
    // waitForOpenConnection,
    // sendMessage,
    // 
    chosenChange,
    apiPrueba,
    handler,
    handler2,
    addBet,
    eventsSetter,
  },
  unmounted,
}
</script>

<style lang="scss" scoped>
.main-card-container {
  background: transparent;

  .custom-line-separator {
    margin-block: 1.25rem;
    background: $middle-gray;
  }

  .body-container {
    background: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
  }

  .btn-togglr {
    background: transparent;
    color: $dark-gray;
    font-style: italic;

    &:focus, &:hover {
      font-weight: 600;
    }
  }
}
.card-color{
  background-color: #cfd0d0;
}
.estilo-titulo-deporte{
  background-color:#fff;
  color: $dark-soft-gray;
  font-weight: 700;
  width: fit-content;
  margin-bottom: -1px;
  z-index: 0;
  @include sqrDist(10px, border-top-left-radius, border-top-right-radius);
}
.juego-direccion{
  /* display: flex;
  align-items: center; */
  margin: auto;
}
.juego-direccion span{
  display: block;
  color:#3c3c3c;
  font-weight: 600;
}
.estilos-logros{
  text-align: center;
  margin: auto;
}

.estilo-logro-hijo{
  border-right: solid 1px;
}

.red{
  display:none;
}
.btn2{
  display:none;
}
.none{
  display: none;
}
.block{
  display:block;
}
</style>