<template>
    <aside class="rightSider p-3 mt-4 mt-lg-0 in-right" v-bind:style="{
        top: headerHeight+'px',
        height: 'calc(100% - '+headerHeight+'px)'
    }">
        <h5 class="mb-3">Resumen de Jugada</h5>

        <template v-if="bets.length">
            <div class="d-flex flex-wrap align-items-baseline mb-3"><h6>Tipo de jugada:</h6> &nbsp;<span>{{betType}}</span></div>
            <div class="fancy-container mb-3">
                <h6 class="floating-title">Apuestas <span class="qnt-circle">{{bets.length}}</span></h6>
                <ul>
                    <li v-for="(bet, achI) of bets" :key="achI" class="d-flex">
                        <div class="col-sm-10"><i class="highlight-i">{{bet.desSport}}</i> {{bet.descDetailed}} {{bet.achievementValue}}</div>
                        <div class="col-sm-2 deleter ms-auto text-end"><a href="javascript:void(0)" class="d-inline-block text-white fw-bold" @click="deleteBet(bet.code)">&times;</a></div>
                    </li>
                </ul>
            </div>
        </template>

        <div class="fancy-container no-pad mb-3">
            <div class="inner">
                <CCInput col
                    v-model="v$.risk.$model" 
                    :v_="v$.risk" 
                    label="Monto apostado"
                    rowClasses="mb-1"
                    labelClasses="pt-0"
                    :readonly="!bets.length"
                />
                <CCInput col
                    v-model="v$.winTotal.$model" 
                    :v_="v$.winTotal" 
                    label="Ganancia estimada"
                    readonly
                />
            </div>
            <CRow class="py-2 mx-0 dark-bg text-white fw-bold align-items-baseline text-break">
                <span class="col-7 ps-3 ln-h-1">Total apostado</span>
                <div class="col-5">
                    <span>{{riskTotal}}</span>
                </div>
            </CRow>
        </div>
        <CButton class="w-100 btn-primario" :disabled="!isValid || !bets.length" @click="acceptBets">Aceptar jugada</CButton>

        <template v-if="takenBets.length">
            <hr>
            <h5 class="mb-3">Jugadas Aceptadas</h5>

            <div v-if="takenBets.length" class="fancy-container mb-3">
                <h6 class="floating-title">Pendientes por pagar <span class="qnt-circle">{{takenBets.length}}</span></h6>
                <ul>
                    <li v-for="(bet, bI) of takenBets" :key="bI" class="d-flex">
                        <div class="col-sm-10"><a href="javascript:void(0)" @click="openModal(bet)" class="text-decoration-none text-black"><b class="highlight-i">{{bet.type}}</b> ({{bet.bets.length}}) x {{bet.risk}} G: {{bet.earning}}</a></div>
                        <div class="col-sm-2 deleter ms-auto text-end"><a href="javascript:void(0)" class="d-inline-block text-white fw-bold" @click="deleteTakenBet(bet.code)">&times;</a></div>
                    </li>
                </ul>
            </div>

            <div class="fancy-container no-pad mb-3">
                <CRow class="py-2 mx-0 dark-bg text-white fw-bold align-items-baseline">
                    <span class="col-7 ps-3 ln-h-1">Total a pagar</span>
                    <div class="col-5">
                        <span>{{takenBetsTotal}}</span>
                    </div>
                </CRow>
            </div>
            <CButton class="w-100 btn-primario mb-3" :disabled="!takenBets.length" @click="payBets">Pagar jugada</CButton>
        </template>
    </aside>
</template>

<script>
import { inject } from 'vue';
import globals from '@/_mixins/globals';
import riskValidations from '@/_validations/riskValidations';
import useVuelidate from '@vuelidate/core';
import CCInput from '@/components/custom-components/CCInput.vue';
import { useHeader } from '@/store/header';
import { storeToRefs } from 'pinia'
import { useBetStructure } from '@/store/betstructure'

// METHODS
/**
 * @param { { achievementValue: string; conditionAchievement: any; desElement: string; idAchievement: string; idBet: string; idElement: string; idEvent: string; officialRotation: string; desSport: string; desEvent: string; desBet: string; } } bet
 */
function updateBets (bet) {
    if (this.config && this.bets.length > (+this.config.maxBets - 1)) {
        this.fireToastMsg(`Parley de ${+this.config.maxBets + 1} No permitido`);
        return;
    }
    
    const eventExists = this.bets.some(bet_ => bet_.code === bet.idEvent);
    if (eventExists) {
        this.fireToastMsg('Ya tiene una apuesta añadida de este evento');
        return;
    }

    const femalesAdded = this.bets.filter(bet_ => +bet_.achievementValue > -1);
    if (this.config && femalesAdded.length >= +this.config.maxFemale) {
        this.fireToastMsg(`Solo se permiten ${this.config.maxFemale} hembras por parley`);
        return;
    }

    this.bets = [
        ...this.bets, 
        {
            code: bet.idEvent,
            desSport: bet.desSport,
            descDetailed: `${bet.desEvent}, ${bet.desBet}/ ${bet.desElement}`,
            achievementValue: bet.achievementValue,
        }
    ];
}

function updateTakenBets (bet) {
    this.takenBets = [...this.takenBets, bet];
}

function deleteBet (code) {
    const betsC = [...this.bets];
    const ind = betsC.findIndex(ach => ach.code === code);
    if (ind > -1) {
        betsC.splice(ind, 1);
        this.bets = [...betsC];
    }
}

function deleteTakenBet (code) {
    const takenBetsC = [...this.takenBets];
    const ind = takenBetsC.findIndex(tb => tb.code === code);
    if (ind > -1) {
        takenBetsC.splice(ind, 1);
        this.takenBets = [...takenBetsC];
    }
}

function clearInputs () {
    this.risk = '';
    this.winTotal = '';
    this.v$.$reset();
}

function acceptBets () {
    const self = this;
    // TEST
    /* if (this.bets.length === 1 && this.bets[0].derecha_no_permitida) // TERMINAR DESPUES
    {
        this.fireToastMsg('Jugada de Derecha no permitida');
        return;
    } */
    //
    if (this.config && +this.risk < +this.config.minimunBet) {
        this.fireToastMsg('El monto minimo de apuesta es de ' + this.config.minimunBet);
        return;
    }

    const nowEpoch = new Date().getTime();
    const winT = Number(self.winTotal).toFixed(2);
    self.updateTakenBets({
        code: `${nowEpoch}`+(self.takenBets.length+1),
        risk: self.risk,
        type: self.betType,
        earning: winT,
        bets: [...self.bets],
    });

    this.bets = [];
    this.clearInputs();
}

function calcWinnings () {
    const wt = this.bets.reduce((total, bet)=>{
        if (+bet.achievementValue < 0) total+= total * 100 / -bet.achievementValue;
        else total+= total * +bet.achievementValue / 100;
        return total
    }, +this.risk);
    this.winTotal = wt.toFixed(2);
}

async function payBets () {
    // TEST
    const num0to9 = `${Math.random()}`.split('.')[1][0];
    if (!+num0to9) // simulacion de error en respuesta de api
    {
        this.fireToastMsg('Problema con el servidor', 'error');
        return;
    }
    if (+num0to9 == 4) // simulacion logros cambiados
    {
        this.fireToastMsg('Algunas jugadas no fueron procesadas debido a que los Logros han sido Actualizados');
        this.takenBets = [{
            code: '00001',
            risk: this.takenBets[0].risk,
            type: this.takenBets[0].type,
            earning: (this.takenBets[0].earning * 2).toFixed(2),
            bets: this.takenBets[0].bets.length ? this.takenBets[0].bets : this.bets,
        }];
        return;
    }
    if ([5,6].includes(+num0to9)) // simulacion eventos cerrados o inactivos
    {
        if (+num0to9 == 5) this.fireToastMsg('El evento NOMBRE DEL EVENTO ha sido cerrado');
        else this.fireToastMsg('El evento NOMBRE DEL EVENTO no se encuentra disponible');
        return;
    }
    if (+num0to9 == 7) // simulacion algunos de los tipos de jugadas ha sido cerrado
    {
        this.fireToastMsg('La Apuesta del evento NOMBRE DEL EVENTO no esta activa');
        return;
    }
    // simulacion de tipo de usuario (1,2,3)
    if (![1,2].includes(+num0to9)) this.fireToastMsg('Apuesta realizada exitosamente', 'success'); // si fuese tres muestra exito
    else this.$swal.fire({ // sino, alerta decriptiva
        title: "SERIAL: 90001",
        html: `
        <b>FECHA: 10/09/2021  03:52 PM</b>
        <br/><br/>
        <strong>PARLEY (3 SELECCIONES)</strong>
        <br/><br/>
        <b>(1 TICKET)  TOTAL A PAGAR: $1.00</b>
        <br/><br/>
        DIRIGISRSE A LA TAQUILLA PARA REALIZAR EL PAGO Y RETIRAR EL TICKET DE SU APUESTA
        `,
        allowOutsideClick: false,
        allowEscapeKey: false,
        confirmButtonText: 'OK',
        buttonsStyling: false,
        customClass: {
        confirmButton: 'btn btn-primario',
        htmlContainer: 'text-center'
        }
    });
    // 

    this.takenBets = [];
}

//  LIFECYCLE HOOKS
function setup () {
    const emitter = inject("emitter")
    const headerStore = useHeader()
    const betStructureStore = useBetStructure();
    const { headerHeight } = storeToRefs(headerStore)
    const { config } = storeToRefs(betStructureStore)

    return { 
        emitter,
        v$: useVuelidate(),
        headerHeight,
        config,
    }
}

function mounted () {
    this.emitter.on('updateBets', this.updateBets);
}

function updated () {
    this.emitter.off('updateBets', this.updateBets);
    this.emitter.on('updateBets', this.updateBets);
}

function unmounted () {
    this.emitter.off('updateBets', this.updateBets);
}

// WATCH
function riskW (val) {
    if (+val || +val == 0) this.calcWinnings();
}

function betsW (val) {
    if (val.length > -1) this.calcWinnings();
}

// function winTotalW (val) {
//     if (+val || +val == 0) this.risk = (val / this.multiplier).toString();
// }

// COMPUTED
function riskTotal () {
    const calc_ = +this.risk;
    return Number(calc_ || 0).toFixed(2)
}

function isValid () {
    return !this.v$.$invalid
}

function betType () {
    const bt = this.bets.length > 1 ? 'PARLEY' : 'DERECHA';
    return bt;
}

function takenBetsTotal () {
    const calc_ = this.takenBets.reduce((tot, bet)=>tot+=+bet.risk,0);
    return Number(calc_ || 0).toFixed(2)
}

// DATA
function data () {
    return {
        risk: '',
        winTotal: '',
        bets: [],
        takenBets: [],
    }
}

export default {
  name: 'AppAsideRight',
  setup,
  data,
  mixins: [
    globals,
  ],
  components: {
    CCInput,
  },
  props: {
    openModal: Function,
  },
  methods: {
    updateBets,
    updateTakenBets,
    deleteBet,
    deleteTakenBet,
    acceptBets,
    calcWinnings,
    payBets,
    clearInputs,
  },
  computed: {
    riskTotal,
    isValid,
    betType,
    takenBetsTotal,
  },
  watch: {
    risk: riskW,
    // winTotal: winTotalW,
    bets: betsW,
  },
  validations () {
    return riskValidations;
  },
  mounted,
  updated,
  unmounted
}
</script>

<style lang="scss" scoped>
.in-right {
    @include sharedDist(300);
    position: fixed;
    // top: $header-height;
    right: 0;
    background: $softer-gray;
    // height: calc(100% - #{$header-height});

    @include mediaquery(lg, 'max') {
        position: unset;
        height: auto !important;
    }
}

aside {
    overflow-y: auto;
    $border-radius-shared: 10px;
    $pad-shared: 1rem;
    @mixin borderShared {
        @include borderGray($color: $middle-gray);
    }

    .fancy-container {
        @include borderShared;
        border-radius: $border-radius-shared;
        position: relative;
        
        &:not(.no-pad),
        &.no-pad .inner {
            padding: $pad-shared;
        }

        .floating-title {
            position: absolute;
            background: $softer-gray;
            top: -0.85rem;
            line-height: 1;
            @include sqrDist(0.5rem, left, padding-inline);

            .qnt-circle {
                @include borderGray($color: $middle-gray);
                border-radius: 50px;
                display: inline-flex;
                padding: 1px 5px;
                margin-right: -10px;
            }
        }

        ul {
            list-style-type: none;
            @include sqrDist(0, padding-left, margin-bottom);
            max-height: 16rem;
            overflow-y: auto;
            overflow-x: hidden;

            li {
                .highlight-i {
                    font-weight: 500;
                }

                .deleter a {
                    cursor: pointer;
                    background: $dark-gray;
                    border-radius: 50%;
                    line-height: 1;
                    padding: 0px 4px 3px 4px;
                    text-decoration: none;

                    &:focus-visible {
                        outline: none;
                    }
                }
            }
        }

        .dark-bg {
            background: $middle-gray;
        }
    }
}
</style>