<template>
  <CHeader position="sticky" class="mb-4 site-header">
    <CContainer fluid>
      <!-- <CHeaderToggler class="ps-1" @click="toggleSidebar" @mouseenter="() => { iconWhich = 1 }" @mouseleave="() => { iconWhich = 0 }">
        <CIcon v-if="!iconWhich" icon="cic-pacman-mouth-open" size="lg" />
        <CIcon v-else icon="cic-pacman-mouth-closed" size="lg" />
      </CHeaderToggler> -->
      <CHeaderToggler class="ps-1" @click="toggleSidebar"><!-- @click="$store.commit('toggleSidebar')" -->
        <CIcon icon="cil-menu" size="lg" />
      </CHeaderToggler>
      <CHeaderBrand class="mx-auto d-lg-none" to="/">
        APUESTAS
      </CHeaderBrand>
      <CHeaderNav class="ms-auto ms-md-0 text-end">
        <AppHeaderDropdownAccnt />
      </CHeaderNav>
    </CContainer>
    <!-- <CHeaderDivider />
    <CContainer fluid>
      <AppBreadcrumb />
    </CContainer> -->
  </CHeader>
</template>

<script>
import { useSidebar } from '@/store/sidebar'
import { useHeader } from '@/store/header'
// import AppBreadcrumb from './AppBreadcrumb'
import AppHeaderDropdownAccnt from './AppHeaderDropdownAccnt'
import { logo } from '@/assets/brand/logo'

// DATA
// function data () {
//   return {
//     iconWhich: 0,
//   }
// }

// SETUP
function setup () {
  // const sidebarStore = useSidebar()
  const { toggleSidebar } = useSidebar()/* sidebarStore */
  const { updateHeaderHeight } = useHeader()

  return {
    logo,
    toggleSidebar,
    updateHeaderHeight,
  }
}

// LIFECYCLE HOOKS
function mounted () {
  const self = this;

  $( document ).ready(function() {
      const hh = $('.header.site-header').outerHeight();
      if (hh) {
        const uhh = () => { self.updateHeaderHeight(hh) };
        $(window).resize(uhh);
        uhh();
      }
  });
}

function unmounted () {
  $(window).off('resize');
}

export default {
  name: 'AppHeader',
  components: {
  //   AppBreadcrumb,
    AppHeaderDropdownAccnt,
  },
  // data,
  setup,
  mounted,
  unmounted
}
</script>

<style lang="scss" scoped>
// .site-header {
//   height: $header-height !important;
// }
</style>