<template>
  <CSidebar
    position="fixed"
    :unfoldable="sidebarUnfoldable"
    :visible="sidebarVisible"
    @visible-change="updateSidebarVisible"
  >
    <CSidebarBrand>
      {{sidebarUnfoldable ? 'SDA' : 'SISTEMA DE APUESTAS'}}
    </CSidebarBrand>
    <AppSidebarNav :nav="nav" />
    <CSidebarToggler
      class="d-none d-lg-flex"
      @click="toggleUnfoldable"
    />
  </CSidebar>
</template>

<script>
import { useSidebar } from '@/store/sidebar'
import { useBetStructure } from '@/store/betstructure'
// import { computed } from 'vue'
// import { useStore } from 'vuex'
import { storeToRefs } from 'pinia'
import { AppSidebarNav } from './AppSidebarNav'
import nav_ from '@/_nav.js'
import { logoNegative } from '@/assets/brand/logo-negative'
import { sygnet } from '@/assets/brand/sygnet'
export default {
  name: 'AppSidebar',
  components: {
    AppSidebarNav,
  },
  // data() {
  //   return {
  //     nav: [],
  //   }
  // },
  setup() {
    // const store = useStore()
    const sidebarStore = useSidebar()
    const betStructureStore = useBetStructure()
    const { updateSidebarVisible, toggleUnfoldable } = sidebarStore;
    const { setMenu, setLeague } = betStructureStore;
    const { sidebarUnfoldable, sidebarVisible/* , isSidebarVisible */ } = storeToRefs(sidebarStore)
    const { nav } = storeToRefs(betStructureStore)

    return {
      logoNegative,
      sygnet,
      sidebarUnfoldable,
      sidebarVisible,
      updateSidebarVisible,
      toggleUnfoldable,
      nav,
      setMenu,
      setLeague,
      // isSidebarVisible,
    }
  },
  async mounted() {
    const theNav = await nav_();
    this.setMenu(theNav);
    this.setLeague(theNav[0].items[0].emiter);
  }
}
</script>
