<template>
    <CModal alignment="center" backdrop="static" :visible="visibleModal !== null" @close="closeModal">
        <CModalHeader>
            <CModalTitle>Detalle {{visibleModal.type}}</CModalTitle>
        </CModalHeader>
        <CModalBody>
            <div class="mb-3"><b>Total Apostado: </b> {{visibleModal.risk}}</div>
            <div>
                <b>Apuestas:</b>
                <ul class="ps-0">
                    <li v-for="(bets, achI) of visibleModal.bets" :key="achI" class="d-flex">
                        <i class="highlight-i">{{bets.desSport}}</i> &nbsp;{{bets.descDetailed}}
                    </li>
                </ul>
            </div>
        </CModalBody>
    </CModal>
</template>

<script>
export default {
    name: 'BetsModal',
    props: {
        visibleModal: {
            type: Object,
            default: null,
        },
        closeModal: Function,
    },
}
</script>

<style lang="scss" scoped>
ul {
    li {
        i {
            font-weight: 500;
        }
    }
}
</style>