<template>
  <div>
    <AppSidebar />
    <div class="wrapper d-flex flex-column min-vh-100 bg-light main-wrapper-tag">
      <AppHeader />
      <div class="body flex-grow-1 px-3 in-center">
        <CContainer lg>
          <router-view />
        </CContainer>
      </div>
      <AppAsideRight :openModal="openModal" />
      <AppFooter class="in-center"/>
    </div>
    <BetsModal :visibleModal="visibleModal" :closeModal="() => { visibleModal = null }" />
  </div>
</template>
<script>
import { CContainer } from '@coreui/vue'
import AppFooter from '@/components/AppFooter.vue'
import AppHeader from '@/components/AppHeader.vue'
import AppSidebar from '@/components/AppSidebar.vue'
import AppAsideRight from '@/components/AppAsideRight.vue'
import BetsModal from '@/components/BetsModal.vue'

export default {
  name: 'DefaultLayout',
  data() {
    return {
      visibleModal: null,
    }
  },
  components: {
    AppFooter,
    AppHeader,
    AppSidebar,
    CContainer,
    AppAsideRight,
    BetsModal,
  },
  methods: {
    openModal(data) {
      this.visibleModal = data
    }
  }
}
</script>

<style lang="scss" scoped>
.main-wrapper-tag {
  position: relative;

  .in-center {
    @include sharedDist(300, true);
  }
}
</style>